[submodule "GodEngine/vendor/spdlog"]
	path = GodEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GodEngine/vendor/GLFW"]
	path = GodEngine/vendor/GLFW
	url = https://github.com/Chickenman67/glfw
[submodule "GodEngine/vendor/imgui"]
	path = GodEngine/vendor/imgui
	url = https://github.com/Chickenman67/imgui
